body.homepage {
    background-color: rgb(50, 50, 50);
}

.homepage-title {
    background-color: rgb(255, 255, 0);
    color: black;
    text-align: center;
    padding: 8px;
    margin: 32px;
}

.thumbnail {
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
}

.thumbnail-link {
    display: block;
    text-align: center;
    padding: 8px;
}

.thumbnail-back {
    background-color: yellow;
    padding: 16px 16px 0px 16px;
    width: 30%;
    margin: 16px auto;
}

