.bg-color {
    background-color: rgb(50, 50, 50);
}

.homepage-title,
.recipe-title {
    background-color: rgb(255, 255, 0);
    color: black;
    text-align: center;
    padding: 8px;
    margin: 32px;
    font-family: "Brush Script MT", cursive;
    font-size: 64px;
}

.thumbnail {
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
}

.thumbnail-link {
    display: block;
    text-align: center;
    padding: 8px;
    font-family: "Brush Script MT", cursive;
    font-size: 32px;
}

.thumbnail-back {
    background-color: yellow;
    padding: 16px 16px 0px 16px;
    width: 30%;
    margin: 16px auto;
}

.home-link {
    background-color: yellow;
    font-family: "Courier New", monospace;
    padding: 8px;
    margin: 8px;
    font-size: 32px;
}

.recipe-image {
    height: auto;
    width: 30%;
    display: block;
    margin: auto;
    margin-bottom: 32px;
}

h2 {
    background-color: yellow;
    text-align: center;
    padding: 8px;
    margin: 8px;
    font-size: 48px;
}

p,
ul,
ol {
    color: white;
    margin: 32px;
    font-size: 32px;
}